<<<<<<< HEAD:front-end/src/index.css
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
div.navbar {
  background-color: #fff;
  color: black;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;  
}

button {
  background-color: #000000;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #ff5733;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
}

div.container {
  margin: 120px auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #d8d7ff;
  max-width: 1400px;
  padding: 40px 0px;
  border-radius: 20px;
  
}

div.container h1 {
  font-size: 38px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #070508;
}

div.container p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

div.questions {
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1000px;

}

div.question {
  background-color: #070508;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

div.question p{
  font-size: 15px;
}

div.question:hover {
  background-color: #ff5733; /* Change background color on hover */
  color: black; /* Change text color on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
}

div.faq {
  margin-top: 50px;
}

p.faq {
  text-align: left;
  font-size: 10px;
  text-decoration: underline;
}


div.chat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  gap: 20px;
  max-width: 900px;
  margin-left: auto;
  background-color: white;
  border-radius: 50px;
  margin-right: auto;
  overflow: hidden;
}

div.chat-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  resize: none; /* Disable resizing */
  overflow-y: hidden; /* Add vertical scrollbar if needed */
  overflow-x: hidden;
}

.icon {
  color: #000000;
  font-size: 25px;
  cursor: pointer;
}
.icon:hover {
  color: #ff5733;
}


.response-container div.chat-box{
  margin-top: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.response-container {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: 100px auto;
  max-width: 900px;
  border-radius: 10px;
}

.selected-question {
  background-color: #000000;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin-bottom: 20px;
  display: flex;
  align-items: end;
}

.generating-response {
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 600px;
}


p.error-message{
  text-align: center;
  margin-top: 20px;
}

.dot-animation {
  display: inline-block;
  width: 2em;
  height: 2em;
  position: relative;
  text-align: left;
}

.dot-animation::before,
.dot-animation::after {
  content: '.';
  animation: dots 1s steps(1, end) infinite;
  
}


@keyframes dots {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
  100% {
    content: '.';
  }
}

div.citation{
  margin-top: 20px;
}

div.citation span {
  font-weight: 600;
  margin-right: 5px;
}

div.citation a {
  color:white;
  text-decoration: none;
  background-color: #000000;
  border-radius: 5px;
  padding: 2px 10px;
}

div.citation a:hover {
  text-decoration: underline;
}

.new-chat-button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
  margin-bottom: -30px;
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensures it appears above everything */
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensures it stays on top of the overlay */
}

.feedback-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

button.cancel{
  margin-left: 10px;
}

input{
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

div.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.justice{
    font-size: 100px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}


@media screen and (max-width:1000px) {
  div.navbar{
    padding: 30px 20px;
  }

  div.container{
    padding: 10px;
  }
div.container h1 {
  font-size: 30px;

}

div.container p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 520px;
}

div.citation a{
  display: block;
  margin-top: 10px;
}

}


=======
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
div.navbar {
  background-color: #fff;
  color: black;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;  
}

button {
  background-color: #000000;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #ff5733;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
}

div.container {
  margin: 120px auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #d8d7ff;
  max-width: 1400px;
  padding: 40px 0px;
  border-radius: 20px;
  
}

div.container h1 {
  font-size: 38px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #070508;
}

div.container p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

div.questions {
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1000px;

}

div.question {
  background-color: #070508;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

div.question p{
  font-size: 15px;
}

div.question:hover {
  background-color: #ff5733; /* Change background color on hover */
  color: black; /* Change text color on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
}

div.faq {
  margin-top: 50px;
}

p.faq {
  text-align: left;
  font-size: 10px;
  text-decoration: underline;
}


div.chat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  gap: 20px;
  max-width: 900px;
  margin-left: auto;
  background-color: white;
  border-radius: 50px;
  margin-right: auto;
  overflow: hidden;
}

div.chat-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  resize: none; /* Disable resizing */
  overflow-y: hidden; /* Add vertical scrollbar if needed */
  overflow-x: hidden;
}

.icon {
  color: #000000;
  font-size: 25px;
  cursor: pointer;
}
.icon:hover {
  color: #ff5733;
}


.response-container div.chat-box{
  margin-top: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.response-container {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: 100px auto;
  max-width: 900px;
  border-radius: 10px;
}

.selected-question {
  background-color: #000000;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin-bottom: 20px;
  display: flex;
  align-items: end;
}

.generating-response {
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 600px;
}


p.error-message{
  text-align: center;
  margin-top: 20px;
}

.dot-animation {
  display: inline-block;
  width: 2em;
  height: 2em;
  position: relative;
  text-align: left;
}

.dot-animation::before,
.dot-animation::after {
  content: '.';
  animation: dots 1s steps(1, end) infinite;
  
}


@keyframes dots {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
  100% {
    content: '.';
  }
}

div.citation{
  margin-top: 20px;
}

div.citation span {
  font-weight: 600;
  margin-right: 5px;
}

div.citation a {
  color:white;
  text-decoration: none;
  background-color: #000000;
  border-radius: 5px;
  padding: 2px 10px;
}

div.citation a:hover {
  text-decoration: underline;
}

.new-chat-button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
  margin-bottom: -30px;
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensures it appears above everything */
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensures it stays on top of the overlay */
}

.feedback-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

button.cancel{
  margin-left: 10px;
}

input{
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

div.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.justice{
    font-size: 100px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}


@media screen and (max-width:1000px) {
  div.navbar{
    padding: 30px 20px;
  }

  div.container{
    padding: 10px;
  }
div.container h1 {
  font-size: 30px;

}

div.container p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 520px;
}

div.citation a{
  display: block;
  margin-top: 10px;
}

}


>>>>>>> origin/frontend:src/index.css
